
@{
    ViewBag.Title = "Pengganti";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Horizontal Layout | Pengganti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Assets2/images/favicon.ico">
    <!-- App css -->
    <link href="~/Assets2/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <!-- icons -->
    <link href="~/Assets2/css/icons.min.css" rel="stylesheet" type="text/css" />

    <style>
        body {
            width: 1080px; /* Lebar konten */
            height: 1920px; /* Tinggi konten */
            margin: 0 auto;
            overflow: hidden; /* Menghindari scrollbars */
            background-color: #000000;
            color: white; /* Untuk menyesuaikan warna teks agar kontras dengan latar belakang hitam */
            font-family: "Arial", Courier, monospace;
            font-size: 20px;
        }

        .content1 {
            width: 1080px;
            height: 758px;
            float: left;
        }

        .line-container {
            width: 1080px; /* Lebar garis */
            height: 4px; /* Tinggi garis */
            float: left;
        }

        .line-wrapper {
            width: 100%;
            height: 100%;
        }

        .line {
            border: none;
            height: 100%;
            color: #FFA500;
            background-color: #FFA500;
            margin: 0;
        }

        .content2 {
            width: 1080px;
            height: 1158px;
            float: left;
        }
        /* CSS */
        .table-custom {
            background-color: #808080; /* Warna latar belakang tabel */
            color: white; /* Warna teks */
            /* Tambahkan aturan CSS lain sesuai kebutuhan */
        }



    </style>
</head>
<body>
    <div class="content1">
        <div class="card text-white bg-black">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <center>
                            <img src="~/Assets/img/suffle.png" style="width: 100px; height: 100px; " />
                        </center>
                    </div>
                    <div class="col-lg-7 text-left">
                        <p style="font-size: 40px; margin-bottom: 0px; ">DISPLAY PENGGANTI</p>
                        <p style="font-size: 20px; margin-bottom: 0px;">pastikan unit dan nama anda sesuai</p>
                    </div>
                    <div class="col-lg-3 text-right">
                        <p id="time" style="font-size: 40px; margin-bottom: 0px; "></p>
                        <p id="date" style="font-size: 20px; margin-bottom: 0px;"></p>
                    </div>
                </div>

                <div class="table-responsive" style="margin-top: 10px;">
                    <table class="table table-dark mb-1" width="100%" id="tableBS" cellspacing="0">
                        <thead>
                            <tr>
                                <th>UNIT STANDBY</th>
                                <th>NRP</th>
                                <th>NAMA</th>
                                <th>REMARKS</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="line-container">
        <div class="line-wrapper">
            <hr class="line">
        </div>
    </div>
    <div id="hariini" class="content2">
        <div class="card text-white bg-black">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <center>
                            <img src="~/Assets/maintenance.png" style="width: 100px; height: 100px; " />
                        </center>
                    </div>
                    <div class="col-lg-8 text-left">
                        <p style="font-size: 2rem; margin-bottom: 0; font-weight: bold;">PLAN SERVICE HARI</p>
                        <p style="font-size: 1rem; margin-bottom: 0;">Pastikan unit Anda tidak masuk dalam rencana service.</p>
                    </div>

                </div>
                <div class="table-responsive" style="margin-top: 10px;">
                    <table class="table table-dark mb-1" width="100%" id="tableBSPS" cellspacing="0">
                        <thead>
                            <tr>
                                <th>UNIT</th>
                                <th>PS TYPE</th>
                                <th>START</th>
                                <th>LEADTIME</th>
                                <th>ESTIMASI RFU</th>
                                <th>SEKTOR</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="planbesuk"class="content2">
        <div class="card text-white bg-black">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <center>
                            <img src="~/Assets/tool-box.png" style="width: 100px; height: 100px; " />
                        </center>
                    </div>
                    <div class="col-lg-8 text-left">
                        <p style="font-size: 2rem; margin-bottom: 0; font-weight: bold;">PLAN SERVICE HARI BESOK</p>
                        <p style="font-size: 1rem; margin-bottom: 0;">Pastikan unit Anda tidak masuk dalam rencana service besok.</p>
                    </div>

                </div>
                <div class="table-responsive" style="margin-top: 10px;">
                    <table class="table table-custom" width="100%" id="tableBSPSBS" cellspacing="0">
                        <thead>
                            <tr>
                                <th>UNIT</th>
                                <th>PS TYPE</th>
                                <th>START</th>
                                <th>LEADTIME</th>
                                <th>ESTIMASI RFU</th>
                                <th>SEKTOR</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- Vendor -->
<script src="~/Assets2/libs/jquery/jquery.min.js"></script>
<script src="~/Assets2/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Assets2/libs/simplebar/simplebar.min.js"></script>
<script src="~/Assets2/libs/node-waves/waves.min.js"></script>
<script src="~/Assets2/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/Assets2/libs/jquery.counterup/jquery.counterup.min.js"></script>
<script src="~/Assets2/libs/feather-icons/feather.min.js"></script>
<!-- App js-->
<script src="~/Assets/jquery-3.6.4.min.js"></script>
<link href="~/Assets/perfect-scrollbar.min.css" rel="stylesheet" />
<script src="~/Assets2/js/app.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" defer></script>


<script>
   var linkFunction = '@Url.Action("Function", "Controller")';
    var linkController = "@ViewBag.Controller";
    var a; 

    $(document).ready(function () {
        getAll();
        getAllPS();
        getAllPSBS();
        besuk()
        autoReloadPage();
        updateDateTime();

        var toggleLoop = setInterval(function () {
            toggleBesukHariini();
        }, 60000);
        updateDateTime();
        setInterval(function () {
            updateDateTime();
        }, 1000);
    });

    function toggleBesukHariini() {
        if ($('#hariini').is(':visible')) {
            besuk();
        } else {
            hariini();
        }
    }

    function hariini() {
        $('#hariini').show();
        $('#planbesuk').hide();
    }


    function besuk() {
        $('#hariini').hide();
        $('#planbesuk').show();
    }

function getAll() {
    var link = linkFunction.replace("Controller", "Display").replace("Function", "GetAllPengganti");

    var dataTable = $("#tableBS").DataTable({
        "ajax": {
            "url": link,
            "type": "GET",
            "datatype": "json"
        },
        searching: false,
        lengthChange: false,
        info: false,
        columns: [
            {
                data: 'Unit',
                render: function (data, type, row) {
                    return '<span style="color: #FFA500; display: inline-block; width: 100px; font-weight: bold;">' + data + '</span>';
                }
            },
            { data: 'Nrp_Pengganti' },
            { data: 'Nama' },
            {
                data: null,
                render: function (data, type, row) {
                    return data.loader + ' - ' + data.sektor + ' - ' + data.areachangeshift;
                }
            }
        ],
        "language": {
            "emptyTable": "Tidak ada data pengganti"
        }
    });
}
    function getAllPS() {
        var link = linkFunction.replace("Controller", "Display").replace("Function", "GetAllService");
        var dataTable = $("#tableBSPS").DataTable({
            "ajax": {
                "url": link,
                "type": "GET",
                "datatype": "json"
            },
            searching: false,
            lengthChange: false,
            info: false,
            columns: [
                { data: 'cn_unit' },
                { data: 'ps_type' },
                { data: 'start_time' },
                { data: 'lead_time' },
                { data: 'estimasi_rfu' },
                { data: 'sektor' },
            ],
            "order": [[2, 'asc']],
            "language": {
                "emptyTable": "Tidak ada data pengganti"
            },
            "pageLength": 15,
        });

        var interval = setInterval(function () {
            var currentPage = dataTable.page.info().page;
            var totalPages = dataTable.page.info().pages;

            if (currentPage < totalPages - 1) {
                dataTable.page('next').draw('page');
            } else {
                dataTable.page('first').draw('page');
            }
        }, 30000); // 10 seconds interval

        // Clear interval on table destroy
        $('#tableBSPS').on('destroy.dt', function () {
            clearInterval(interval);
        });
    }



    function getAllPSBS() {
        var link = linkFunction.replace("Controller", "Display").replace("Function", "GetAllServiceBesuk");
        var dataTable = $("#tableBSPSBS").DataTable({
            "ajax": {
                "url": link,
                "type": "GET",
                "datatype": "json"
            },
            searching: false,
            lengthChange: false,
            info: false,
            columns: [
                { data: 'cn_unit' },
                { data: 'ps_type' },
                { data: 'start_time' },
                { data: 'lead_time' },
                { data: 'estimasi_rfu' },
                { data: 'sektor' },
            ],
            "order": [[2, 'asc']],
            "language": {
                "emptyTable": "Tidak ada data pengganti"
            },
            "pageLength": 15,
        });

        var interval = setInterval(function () {
            var currentPage = dataTable.page.info().page;
            var totalPages = dataTable.page.info().pages;

            if (currentPage < totalPages - 1) {
                dataTable.page('next').draw('page');
            } else {
                dataTable.page('first').draw('page');
            }
        }, 30000); // 10 seconds interval

        // Clear interval on table destroy
        $('#tableBSPSBS').on('destroy.dt', function () {
            clearInterval(interval);
        });
    }
        //function updateDateTime() {
        //    // Mendapatkan waktu dan tanggal sekarang
        //    var now = new Date();

        //    // Format waktu HH:MM:SS
        //    var hours = now.getHours().toString().padStart(2, '0');
        //    var minutes = now.getMinutes().toString().padStart(2, '0');
        //    var seconds = now.getSeconds().toString().padStart(2, '0');

        //    // Format tanggal DD/MM/YYYY
        //    var day = now.getDate().toString().padStart(2, '0');
        //    var month = (now.getMonth() + 1).toString().padStart(2, '0'); // Bulan dimulai dari 0
        //    var year = now.getFullYear();

        //    // Menetapkan waktu dan tanggal ke elemen HTML
        //    $('#time').text(hours + ':' + minutes + ':' + seconds);
        //    $('#date').text(day + '-' + month + '-' + year);
        //}

    function updateDateTime() {
        fetch('http://10.183.5.4:3000/datetime')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch');
                }
                return response.json();
            })
            .then(data => {
                // Menetapkan waktu dan tanggal ke elemen HTML
                document.getElementById('time').textContent = data.time;
                document.getElementById('date').textContent = data.date;
            })
            .catch(error => {
                console.error('Error:', error);
                // Mengambil waktu lokal jika gagal mengambil dari server
                const now = new Date();
                const hours = now.getHours().toString().padStart(2, '0');
                const minutes = now.getMinutes().toString().padStart(2, '0');
                const seconds = now.getSeconds().toString().padStart(2, '0');
                const day = now.getDate().toString().padStart(2, '0');
                const month = (now.getMonth() + 1).toString().padStart(2, '0');
                const year = now.getFullYear();

                const time = `${hours}:${minutes}:${seconds}`;
                const date = `${day}-${month}-${year}`;

                // Menetapkan waktu dan tanggal lokal ke elemen HTML
                document.getElementById('time').textContent = time;
                document.getElementById('date').textContent = date;
            });
    }


    function autoReloadPage() {
        setInterval(function () {
            location.reload();
        }, 120000);
    }


</script>

</html>